body {
border: 5px solid black;
}

.box {
    border: 5px solid black;
    height: 100px; 
    width: 100px; 
    margin-left: auto;
    margin-right: auto;
    display: block;  
}

.box2 {
    display: block; 
    height: 100px;
    width: 50px; 
    border: 5px solid black;
}