body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    min-width: 200px;
    max-width: 200px;
}

.sidebar h2 {
    margin-top: 5px;
}

.page-form{
    display: flex; 
    flex-direction: column;
    max-width: 800px; 
    padding: 25px; 
}

.input-area {
    padding-bottom: 10px; 
}

.form-control{
    resize: none; 
}

.row {
    flex-wrap: nowrap;
}