{% extends "encyclopedia/layout.html" %}

{% block title %}
Create New
{% endblock %}

{% block body %}

<form action="{% url 'new' %}" method="POST">
    <div class="page-form">
        <h1>Create A New Wiki!</h1>
        {% csrf_token %}
        <div class="input-area">
            <label class="form-label">Title</label>
            {{page.title}}
            <label class="form-label">Content</label>
            {{page.content}}
        </div>
        <div>
            <input type="submit" value="Create" class="btn btn-primary">
        </div>
    </div>
</form>



{% endblock %}