{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="title" id="title">
</div>
{% if user.is_authenticated %}
<div id="post-container">
    <div class="post-wrapper">
        <form id="post-form">
            <div>
                <label class="form-label">New Post</label>
                {{ form.body }}
            </div>
            <div>
                <input type="submit" value="Post" class="btn btn-primary" id="post-button">
            </div>
        </form>
    </div>
    {% endif %}
</div>
<div class="pagination-container">
    <div class="pagination-nav">
        <input type="button" class="btn btn-primary" id="first" value="first" />
        <input type="button" class="btn btn-primary" id="next" value="next" />
        <input type="button" class="btn btn-primary" id="previous" value="previous" />
        <input type="button" class="btn btn-primary" id="last" value="last" />
    </div>

    <div id="newsfeed">

    </div>
</div>


<!-- {% endblock %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% for post in page_obj %}
{{ post.user }}<br>
...
{% endfor %} -->