{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div id='profile-container'>
    <div class='profile-header'>
        <div class='profile-title-wrapper'>
            <div id="profile-title">
                <h2 id='profile-name'>{{ user_profile_name }}</h2>
            </div>
            {% if user.is_authenticated %}
            {% if same_user == False %}
            {% if following_this_user == False %}
            <button type="submit" value="follow" class='btn btn-primary' id="follow-button">Follow
                Me!</button>
            {% else %}
            <button type="submit" value="follow" class='btn btn-primary' id="follow-button">Unfollow</button>
            {% endif %}
            {% endif %}
            {% endif %}
        </div>

        <div class='follower-count-wrapper'>
            <div class="following" id="following">
                <div>
                    Following:
                </div>
                <div id="following-count">
                    {{ number_of_following }}
                </div>
            </div>
            <div class="followers" id="followers">
                <div>
                    Followers:
                </div>
                <div id="follower-count">
                    {{ number_of_followers }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="pagination-container">
    <div class="pagination-nav">
        <input type="button" class="btn btn-primary" id="first" value="first" />
        <input type="button" class="btn btn-primary" id="next" value="next" />
        <input type="button" class="btn btn-primary" id="previous" value="previous" />
        <input type="button" class="btn btn-primary" id="last" value="last" />
    </div>

    <div id="userposts">

    </div>
</div>

{% endblock %}