{% extends "auctions/layout.html" %}

{% block body %}
<div class=active-header>
    <h2>{{ category }}</h2>
</div>
<hr>

<div class="listing-container">
    {% for listing in listings %}
    {% if listing.active %}
    <div class="listing">
        <form action="{% url 'index' %}" method=POST>
            {% csrf_token %}
            <div class="listing-title">
                <h5>{{ listing.title }}</h5>
            </div>
            <div>
                <img src="{{ listing.img_url }}">
            </div>
            <div class="listing-price">
                <label><strong>Price: </strong> ${{listing.starting_bid}}</label>
            </div>
            <div class="listing-price">
                {% if listing.highest_bid %}
                <label><strong>Current Bid: ${{listing.current_bid}}</strong></label>
                {% else %}
                <label><strong>No bids yet!</strong></label>
                {% endif %}
            </div>
            <div class="listing-description">
                {{listing.description|truncatewords:5}}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="View">
            <input type="hidden" value="{{listing.title}}" name="title">
        </form>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}