{% extends "auctions/layout.html" %}

{% block body %}
<h2>Active Listings</h2>
<div class="listing-container">
    {% for listing in active_listings %}
    <div class="listing">
        <div class="listing-title">
            <div class="listing-item">
                {{ listing.title }}
            </div>
            <div class="listing-item">
                {{listing.starting_bid}}
            </div>
        </div>
        <div>
            <img src="{{listing.img_url}}">
        </div>
        <div class="listing-item">
            {{listing.description}}
        </div>
    </div>
    {% endfor %}
</div>
<input type="button" class="btn btn-primary" value="View">


{% endblock %}