{% extends "auctions/layout.html" %}

{% block body %}
<div class=active-header>
    <h2>Active Listings</h2>
</div>

<div class="listing-container">
    {% for listing in active_listings %}
    {% if listing.active %}
    <div class="listing">
        <form action="{% url 'index' %}" method=POST>
            {% csrf_token %}
            <div class="listing-title">
                <h5>{{ listing.title }}</h5>
            </div>
            <div>
                <img src="{{listing.img_url}}">
            </div>
            <div class="listing-price">
                <p>${{listing.price}}</p>
            </div>
            <div class="listing-description">
                <p>{{listing.description}}</p>
            </div>
            <input type="submit" class="btn btn-primary" value="View">
            <input type="hidden" value="{{listing.title}}" name="title">
        </form>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}