{% extends "auctions/layout.html" %}

{% block body %}
<div class=active-header>
    <h2>Active Listings</h2>
</div>
<hr>

<div class="listing-container">
    {% for listing in active_listings %}
    {% if listing.active %}
    <div class="listing">
        <form action="{% url 'index' %}" class="active-listings-form" method=POST>
            {% csrf_token %}
            <div class="listing-title">
                <h5>{{ listing.title }}</h5>
            </div>
            <hr>
            <div class="img-container">
                {% if listing.img_url %}
                <img src="{{listing.img_url}}">
                {% else %}
                <img src="/static/img/No_picture_available.png">
                {% endif %}
                <hr>
            </div>
            <div class="listing-price">
                <label><strong>Price: </strong> ${{listing.starting_bid}}</label>
            </div>
            <div class="listing-price">
                {% if listing.highest_bid %}
                <label><strong>Current Bid:</strong> ${{listing.highest_bid}}</label>
                {% else %}
                <label><strong>No bids yet!</strong></label>
                {% endif %}
            </div>
            <div class="listing-description">
                {{listing.description|truncatewords:5}}
            </div>
            <br>
            <input type="submit" class="btn btn-primary" value="View">
            <input type="hidden" value="{{ listing.pk }}" name="pk">
        </form>
    </div>
    {% endif %}
    {% endfor %}
</div>


{% endblock %}