{% extends "auctions/layout.html" %}

{% block body %}
<div>
    <h2>{{ listing.title }}</h2>
</div>
<form action="{% url 'bid' %}" method=POST>
    {%csrf_token%}
    <div class=listing-page-body>
        <div>
            <img src="{{ listing.img_url }}">
        </div>
        <div class="listing-information">
            <div>
                <label class="form-label">Posted by: {{ listing.user }}</label>
            </div>
            <div>
                <label class="form-label">Created on: {{ listing.date_created }}</label>
            </div>
            <div>
                <label class="form-label">Price: ${{ listing.price }}</label>
            </div>
            <div>
                <label class="form-label">Current bid: ${{ current_bid }}</label>
            </div>
            {% if user.is_authenticated %}
            <div>
                <a href="{% url 'add_to_watchlist' listing.id %}">Add to Watchlist</a>
            </div>
            {% endif %}
        </div>
        <div class="listing-information">
            <div>
                <label class="form-label">Description: {{ listing.description }}</label>
            </div>
        </div>
    </div>
    <label>Amount: </label>
    <div class="listing-page-bid">
        {{ new_bid.current_bid }}
        <input type="submit" value="Bid" class="btn btn-primary" name="bid">
    </div>
</form>
<div>
    {% for comment in comments %}
    {{ comment.comment }}
    {% endfor %}
</div>
<form action="{% url 'comment' %}">
    <label class="form-label-image">Add A Comment!</label>
    {{ comment_form.comment}}
    <input type="submit" value="Comment" name="comment" class="btn btn-primary">
</form>



{% endblock %}