{% extends 'auctions/layout.html' %}

{% block title %}
New Listing
{% endblock %}

{% block body %}

<div class="new-form">
    <form action="{% url 'new' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <div>
                <label class="form-label">Listing Title</label>
                {{ form.title }}
                <label class="form-label">Description</label>
                {{ form.description }}
            </div>
            <label class="form-label">Category</label>
            {{ form.category }}
            <label class="form-label">Starting Bid</label>
            {{ form.starting_bid }}
            <label class="form-label-image">Image URL</label>
            {{ form.img_url }}
        </div>
        <br>
        <input type="submit" value="Create" class="btn btn-primary">
    </form>
</div>

{% endblock %}