{% extends "auctions/layout.html" %}
{% block body %}

<div>
    <h5><strong>{{ user.username }}'s watch list.</strong></h5>
</div>
<hr>
{% for listing in watchlist %}
<a href="{% url 'getpage' listing.title %}"><b>{{ listing.title }}</b></a>
<div>
    {% if listing.highest_bid_user == user and listing.active == False %}
    <h4>You have won this bid!</h4>
    {% endif %}
</div>
<div>
    <strong>Price: </strong>{{ listing.starting_bid }}
</div>
<div>
    <strong>Description: </strong>{{ listing.description }}
</div>
<div>
    {% if listing.highest_bid %}
    <strong>Highest Bid: </strong>{{ listing.highest_bid }}
    {% else %}
    <strong>No bidders yet!</strong>
    {% endif %}
</div>
<br>
<!-- {{ listing.bid.current_bid }} -->

<img src="{{ listing.img_url }}">
<hr>
{% endfor %}
{% endblock %}